body {
	background-color: #006400;
	font-family: Arvo, serif;
}

.overlay{
    opacity: 1.0;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#home-page {
	display: block;
}

#blackjack {
	display: flex;
	justify-content: center;
	min-height: 50px;
	min-width: 50px;
}


#play-blackjack {
	color: black;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgb(255, 215, 0);
}

.first-page {
	display: flex;
	justify-content: center;

}


#casino-image {
	max-height: 300px;
	max-width: 300px;
}

/* Place Bets Page */

#bets-page {
	display: block;
}

#title {
	display: flex;
	justify-content: center;
}

/* Hit or Stand Page */

#hit-or-stand-page {
	display: none;
}

.card {
	width: 150px;
	height: 240px;
	margin: 20px 2px;
}

#computer-hand {
	display: flex;
	justify-content: center;
}

#player-hand {
	display: flex;
	justify-content: center;
}






